<!DOCTYPE html>
{% load staticfiles %}
<html>
<body style="background-image: url({% static "/img/1.jpg" %});">
<h1>
   <a href = "{% url 'blog:edit_page' %}">猪精点我，添加文字可以显示出来，不介意你匿名表白哟~</a>
</h1>
{% for article in articles %}
   <a href="{% url 'blog:article_page' article.id %}">{{article.title}}</a>
   <br/>
{% endfor %}
<head>
   <title>你这个猪精</title>
</head>
<h1><center>你这个大猪精</center></h1> 

<div class="para-title level-2" label-module="para-title">
   <h2 class="title-text"><span class="title-prefix"></span>说的就是你，你造吗！！！想报仇？没门！</h2>
</div>


<a href="/1">点我复仇</a>

<h1>扫我复仇</h1>

<img src="http://weiwho.xin:8000/qrcode"/>




    <body style="margin:0px auto;text-align:center;">
            <div style="margin:0px auto;text-align:center;" href="http://www.miitbeian.gov.cn/">
               <a href="http://www.miitbeian.gov.cn/">鄂ICP备17027644号</a>
            </div>
    </body>
</body>
</html>
